* {
    margin: 0;
}

.body {
    font-family: Tahoma, sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
}

.popup {
    width: 300px;
    padding: 50px 100px 40px;
    border-bottom: 10px solid #46A358;;
}

.button-login {
    color: #3D3D3D;
    font-family: Tahoma, sans-serif;
    font-size: 20px;
    font-style: normal;
    line-height: 16px;
    margin: 52px 12px 40px 72px;
    border: none;
    background-color: white;
    cursor: pointer;
}

.button-register {
    color: #46A358;;
    font-family: Tahoma, sans-serif;
    font-size: 20px;
    font-style: normal;
    line-height: 16px;
    border: none;
    background-color: white;
    cursor: pointer;
}

.text {
    color: #3D3D3D;
    line-height: 16px;
    margin-bottom: 45px;
}

.input {
    color: #A5A5A5;
    font-weight: 400;
    border-radius: 5px;
    border: 1px solid #EAEAEA;
    width: 300px;
    height: 40px;
    margin-bottom: 16px;
}

.input-password {
    color: #A5A5A5;
    font-weight: 400;
    border-radius: 5px;
    border: 1px solid #EAEAEA;
    width: 300px;
    height: 40px;
    margin-bottom: 41px;
}

.submit {
    border-radius: 5px;
    background: #46A358;
    width: 300px;
    height: 45px;
    color: #FFF;
    border: none;
    font-weight: 700;
    line-height: 16px;
    margin-bottom: 36px;
    cursor: pointer;
}

.register-with {
    color: #3D3D3D;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    margin-bottom: 27px;
}

.google {
    width: 300px;
    height: 40px;
    color: #727272;
    text-align: center;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    padding: 13px 68px 11px; 
    border-radius: 5px;
    border:none;
    background: #FFFFFF;
    cursor: pointer;
    margin-bottom: 15px;
}

.facebook {
    width: 300px;
    height: 40px;
    color: #727272;
    text-align: center;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    padding: 13px 68px 11px; 
    border-radius: 5px;
    border:none;
    background: #FFFFFF;
    cursor: pointer;
}



