@font-face {
    font-family: 'Cera Pro';
    src: url(../fonts/CeraPro-Black.woff2) format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cera Pro';
    src: url(../fonts/CeraPro-Bold.woff2) format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cera Pro';
    src: url(../fonts/CeraPro-Medium.woff2) format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cera Pro';
    src: url(../fonts/CeraPro-Regular.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    box-sizing: border-box;
}

.body {
    font-family: 'Cera Pro';
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
}

.wrapper {
    max-width: 1230px;
    min-width: 991px;
    margin: 0 auto;
    padding: 0 15px;
}

.img-responsive {
    max-width:100%;
    height:auto;
}

.header {
    display: flex;
    border-bottom: 0.3px #46a358 solid;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.menu {
    display: flex;
    list-style: none;
}

.dropdown-parent {
    position: relative;
}

.dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f5f6f5;
    min-width: 150px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.1);
    padding: 10px 0;
    list-style: none;
    z-index: 1;
    border-radius: 4px;
    margin-top: 20px;
}

.dropdown li a {
    color: #333;
    padding: 8px 15px;
    text-decoration: none;
    display: block;
    font-size: 14px;
}

.dropdown li a:hover {
    background-color: #f1f1f1;
    color: #46a358;
}

.dropdown-parent:hover .dropdown {
    display: block;
}

.dropdown:hover > a {
    border-bottom: 3px solid #46a358;
    padding-bottom: 5px;
}

.dropdown::before {
    content: "";
    left: 5px;
    display: block;
    top: -20px;
    width: 90px;
    height: 20px;
    background-color: transparent;
    position: absolute;
}

.dropdown ul {
    position: relative;
}

.menu a {

    vertical-align: middle;
    color: #3d3d3d;
    text-decoration: none;
    padding-right: 50px;
}

.menu a:hover {
    color: #000000;
}

.menu li {
    list-style-type: none;
    vertical-align: middle;
}

.btn-login {
    border-radius: 6px;
    background: #46A358;
    width: 100px;
    height: 35px;
    color: #FFF;
    font-weight: 500;
    border: none;
    vertical-align: middle;
    display: flex;
}

.icon {
    vertical-align: middle;
    padding: 7px 1px 8px 0;
}

.header-icons {
  display: flex;
  align-items: center;
}

.icon-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  position: relative;
  margin-right: 20px;
}

.search-icon {
    margin-right: 30px;
}

.cart-link {
    position: relative;
}

.icon-link svg {
  display: block;
}

.cart-count {
  position: absolute;
  top: -5px;
  right: -8px;
  background-color: #46a358;
  color: #FFF;
  font-size: 10px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #fff;
  font-weight: 500;
}

.login {
    vertical-align: middle;
    padding: 8px 17px 8px 0;
    cursor: pointer;
}

.box {
    display: flex;
    padding-bottom: 46px;
}

.shop-now {
    width: 100%px;
    padding: 68px 0 85px 17px;

}

.item {
    color: #3D3D3D;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    padding-bottom: 12px;
}

.shop-now h1 {
    color: #3D3D3D;
    font-size: 70px;
    font-style: normal;
    font-weight: 900;
    text-transform: uppercase;
    width: 530px;
}

.shop-now span {
    color: #46A358;
}

.item-2 {
    color: #727272;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    line-height: 24px;
    padding-bottom: 55px;
}

.btn-shop {
    width: 140px;
    height: 40px;
    border-radius: 6px;
    background: #46A358;
    color: #FFF;
    cursor: pointer;
    border: none;

}

.plants {
    vertical-align: top;
    width: 100%;
    margin-left: 116px;
    margin: 0 -15px;
}

.catalog {
    padding-top: 46px;
    display: flex;
}

.catalog-left {
    width: 25%;
    padding: 0 10px;
}

.catalog-main {
    width: 75%;
    padding: 0 10px;
}

.catalog-menu-title {
    color: #3D3D3D;
    font-size: 18px;
    font-weight: 700;
    line-height: 16px;
    padding-bottom: 7px;
    padding-left: 16px;
}

.active-01:hover {
    color: #46A358;
}

.catalog-menu-list a {
    color: #4E4C4C;
    font-size: 15px;
    line-height: 40px;
    text-decoration: none;
}

li {
    list-style-type: none;
}

.catalog-menu-list {
    padding-bottom: 377px;
    padding-left: 27px;
    margin-right: 20px;
}

.banner {
    padding-right: 20px;
}

.banner img {
    max-width: 100%;
    height: auto;
}

.menu-02 {
    margin-right: auto;
}

.menu-02 ul{
    display: flex;
}

.menu-02 li {
    padding-right: 40px;
}

.catalog-filter {
    display: flex;
    padding-bottom: 36px;
}

.catalog-list {
    margin: 0 -15px;
    display: flex;
    flex-wrap: wrap;
}

.catalog-item {
    width: 33.333%;
    padding: 0 15px 70px;
    margin-bottom: 38px;
}

.label-sale {
    position: relative;
}

.label {
    position: absolute;
    top: -3px;
    left: -5px;
    background-color: #46A358;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; 
    padding: 5px 10px;

}

.catalog-item-pic {
    position: relative;
    height: auto;
    width: 100%;
    display: block;
    background-color: #FBFBFB;
}

.item-icons {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    margin-right: 10px;
    background-color: #fff;
    padding: 8px 12px;
    border-radius: 4px;
    box-shadow: 0 4 px 10px rgba (0, 0, 0, 0.1);
}

.catalog-item:hover .item-icons {
    display: flex;
}

.item-icons a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-right: 22px;

}

.catalog-list {
    display: flex;
    flex-wrap: wrap;

}

.mr-0 {
    margin-right: 0;
}

.catalog-item-title {
    color: #3D3D3D;
    font-size: 16px;
    line-height: 16px;
}

.catalog-item-price {
    color: #46A358;
    font-size: 18px;
    font-weight: 700;
    line-height: 16px;
}

.catalog-item img {
    max-width: 100%;
    height: auto;
}

.pages-navigator ul {
    display: flex;
    padding-left: 570px;
}

.pages-navigator a {
    text-decoration: none;
    border-radius: 4px;
    background: #f5f6f5;
    color: #3D3D3D;
    font-size: 14px;
    margin-left: 10px;
    border: #e5e5e5;
    width: 35px;
    height: 35px;
    padding: 11px;
    text-align: center;
}

.box2 {
  display: flex;
  justify-content: center;
  padding: 50px;
  background-color: #FBFBFB;
}

.box2-item {
  display: flex;
  align-items: center;
  flex: 0 1 550px;
  background-color: #fff;
  padding: 20px;
  margin: 0 15px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}

.box2-image {
  flex: 0 0 200px;
  text-align: center;
}

.box2-image img {
  max-width: 100%;
  height: auto;
}

.box2-content {
  flex: 1;
  padding-left: 20px;
  text-align: right;
}

.box2-title {
  font-size: 18px;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 8px;
  color: #3D3D3D;
}

.box2-text {
  font-size: 14px;
  color: #727272;
  margin-bottom: 20px;
  line-height: 24px;
}

.btn-find {
  display: inline-block;
  padding: 10px 20px;
  background-color: #46a358;
  color: #FFF;
  text-decoration: none;
  border-radius: 6px;
  font-weight: 500;
  font-size: 14px;
}